# Variabls de entorno para desarrollo local
# Copia este archivo a .env.local y ajusta los valores si es necesario

EXPO_PUBLIC_SUPABASE_URL=https://idytiovlkvpspzaytfuz.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlkeXRpb3Zsa3Zwc3B6YXl0ZnV6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA5MjIxMjUsImV4cCI6MjA4NjQ5ODEyNX0.DoBWN1QxkihCGyUUEX82qZL8Aq7KJxz4hDx0o670yAM

# Cambia esto a http://localhost:3000 o la IP de tu máquina para pruebas locales
EXPO_PUBLIC_API_URL=https://aicompanionbackend.up.railway.app
